services:
    dovecot:
        build:
            context: .
            dockerfile: images/dovecot/Dockerfile
        image: dovecot
        restart: always
        volumes:
            - ./data/mail:/var/mail
            - ./etc/dovecot:/etc/dovecot
            - /etc/letsencrypt/:/etc/certificates
        ports:
            - "143:143"
            - "993:993"
        env_file:
            - .env
        extra_hosts:
            - "host.docker.internal:host-gateway"

    postfix:
        build:
            context: .
            dockerfile: images/postfix/Dockerfile
        image: postfix
        restart: always
        volumes:
            - ./data/postfix:/var/spool/postfix
            - /etc/letsencrypt/:/etc/certificates
            - ./etc/postfix:/etc/postfix
        ports:
            - "25:25"
            - "587:587"
        env_file:
            - .env
        extra_hosts:
            - "host.docker.internal:host-gateway"
