mydomain = {{ getenv "DOMAIN" }}
myhostname = {{ getenv "SERVERNAME" }}
myorigin = $mydomain
mynetworks = 127.0.0.1/32 [::1]/128 {{ getenv "RELAYNETS" "" }}
mydestination =
# queue_directory = /var/spool/postfix/queue
mail_owner = postfix

html_directory = no
biff = no
smtpd_helo_required = yes
smtpd_recipient_restrictions = permit_mynetworks,
	permit_sasl_authenticated,
	reject_unlisted_recipient,
	reject_unknown_recipient_domain,
	reject_unauth_destination,
	reject_non_fqdn_recipient
smtpd_sender_restrictions = reject_non_fqdn_sender,
	reject_unknown_sender_domain,
 	reject_sender_login_mismatch,
	permit_mynetworks,
	permit_sasl_authenticated
smtpd_client_restrictions = permit_mynetworks,
	permit_sasl_authenticated,
	reject_unknown_client_hostname
smtpd_relay_restrictions =
message_size_limit = 52428800

################################
## SASL Auth Settings
###############################
smtpd_sasl_auth_enable = yes
smtpd_sasl_local_domain = $myhostname
broken_sasl_auth_clients = yes
## Dovecot Settings for deliver, SASL Auth and virtual transport
smtpd_sasl_type = dovecot
smtpd_sasl_path = inet:dovecot:2102
smtpd_sasl_security_options = noanonymous

# Virtual delivery settings
virtual_mailbox_base = /
virtual_mailbox_maps = mysql:/etc/postfix/mysql-virtual_mailbox_maps.cf
virtual_mailbox_domains = mysql:/etc/postfix/mysql-virtual_mailbox_domains.cf
virtual_alias_maps = mysql:/etc/postfix/mysql-virtual_alias_maps.cf
smtpd_sender_login_maps = mysql:/etc/postfix/mysql-virtual_sender_permissions.cf
virtual_uid_maps = static:2000
virtual_gid_maps = static:2000
virtual_transport = lmtp:inet:dovecot:2525
lmtp_host_lookup = native

# Default Mailbox size, is set to 0 which means unlimited!
mailbox_size_limit = 0
virtual_mailbox_limit = 0

################################
## TLS Settings
###############################
smtpd_tls_cert_file = /etc/certificates/live/{{ getenv "SERVERNAME" }}/fullchain.pem
smtpd_tls_key_file = /etc/certificates/live/{{ getenv "SERVERNAME" }}/privkey.pem
smtpd_use_tls = yes
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
smtpd_tls_security_level = may
smtpd_tls_auth_only = yes
smtp_tls_security_level = may

maillog_file = /dev/stdout

################################
## DKIM
###############################
smtpd_milters = inet:opendkim:8891
non_smtpd_milters = $smtpd_milters 
milter_default_action = accept 